.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
*.apk
*.ap_
*.dex
*.class
.gradle/
build/
keystore/
bin/
gen/
coverage/
test-results/
*.iml
*.ipr
*.iws
.idea/
.kotlin/
.project
.classpath
.settings/
*.jks
*.keystore
key.properties
local.properties
proguard/
proguard-project.txt
*.tmp
*.swp
*.swo
