*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildpath
.project
.settings/
.toolstarget/
.idea/
.vscode/
*.iml
*.ipr
*.iws

build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/


**/android/app/libs/
**/android/key.properties
**/android/local.properties
**/android/flutter_plugins


**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*


**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh


**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake


**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake


!**/android/app/src/main/AndroidManifest.xml
!**/ios/Runner/Base.lproj/LaunchScreen.storyboard
!**/ios/Runner/Base.lproj/Main.storyboard
